@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./Imagens/imagem_fundo_controle.jpg');
  background-image: url('./Imagens/imagem_fundo_controle.jpg');
  background-size: cover;  /* Para evitar a repetição da imagem */
}


.container {
  background-color: whitesmoke;
  padding: 6px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

form {
  position: absolute;
  margin-top: 90px;
  transition: .5s;
  width: 300px;
  height: 400px;
}

.buttonsForm {
  background: linear-gradient(to right, #701198, #9400d3, #701198);
  border-radius: 30px;
  margin-top: 40px;
  position: relative;
  border-radius: 30px;
}

.buttonsForm button {
  color: #FFFFFF;
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
}

.btnCor {
  background: linear-gradient(to right, #701198, #9400d3, #701198);
  border-radius: 30px;
  position: absolute;
  width: 120px;
  height: 100%;
  border-radius: 30px;
  transition: .3s;
}

input[type="text"], input[type="password"] {
  border: none;
  margin-top: 25px;
  border-radius: 60px;
  padding: 8px 0 8px 35px;
  outline: none;
  width: 100%;
  box-shadow: 0 0 3px 0 #7c117c;
}

button[type="submit"] {
  color: white;
  background: linear-gradient(to right, #701198, #9400d3, #701198);
  border-radius: 30px;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 50px;
  cursor: pointer;
}

#login {
  left: 25px;
}

#cadastro {
  left: 450px;
}

i {
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

.iEmail {
  top: 25px;
}

.iPassword {
  top: 85px;
}

.iPassword2 {
  top: 145px;
}


/*  background-color: #E0E0E0;*/